<!DOCTYPE html>
<html>
    <%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>

    <div class="page">
        <div id="profile">
          <img id="profile" src="icons/profile.png" alt="Rohan Panuganti Profile Picture">
        </div>
        <h2>
          Hi! I am Rohan Panuganti and this is my website. After I graduate, this website will act as a portfolio. 
          Whether it be a simple application, a full-stack project, a musical composition, or even a blog post, 
          it will all by compiled here. I have provided my social media and resume at the bottom of the page. 
          <br> <br> Feel free to ask me anything!  
        </h2>
      </div>

    <%- partial("partials/_footer") %>


</body>

</html>
