<footer>
  <a id="logo" href="https://github.com/rpanu/" target="_blank">
    <img class="icon" src="icons/github.svg" alt="GitHub Link">
  </a>
  <a id="logo" href="https://www.linkedin.com/in/rohanpanuganti/" target="_blank">
    <img class="icon" src="icons/linkedin.svg" alt="LinkedIn Link">
  </a>
  <a id="logo" href="https://nbviewer.jupyter.org/github/rohanpanuganti/Resume-New/blob/master/Resume.pdf" target="_blank">
    <img class="icon" src="icons/paper.svg" alt="Resume Link">
  </a>
</footer>
<script src="index.js"></script>