<head>
    <link rel="stylesheet" href="style.css">
    <meta name="title" content="Rohan Panuganti">
    <meta name="description" content="This is a website for my stuff!">
    <meta property="og:image" content="https://rpanu.github.io/icons/profile.png">
    <script src="index.js"></script>
    <title>Rohan Panuganti</title>
</head>