<nav>
    <header>
        <a id="logo" href="index.html"><img width="150px" src="icons/rp.svg" alt="Rohan Panuganti"></a>
    </header>
    <div class="push-right">
        <ul class="a">
            <li><a href="index.html">home</a></li>
            <li><a href="posts.html">posts</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="profile.html">profile</a></li>
        </ul>
    </div>
</nav>