<!DOCTYPE html>
<html lang="en">
    <%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>

    <div class="page">
            <header href="" class="typewrite" data-period="2000" 
            data-type='[ "welcome to my website!", "my name is Rohan", "i am a software engineer", "i will make posts and show off projects here!" ]'>
                <span class="wrap"></span>
            </header>
    </div>

    <%- partial("partials/_footer") %>


</body>

</html>