<!DOCTYPE html>
<html lang="en">
    <%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>

    <div class="page">
        <header>Welcome</header>
        <br>
        <header>I am Rohan and I am a software engineer</header>
        <br>
        <header>Here, I will make posts and show off projects</header>
        <br>
        <br>
        <p> <3 </p>
    </div>

    <%- partial("partials/_footer") %>


</body>

</html>