<!DOCTYPE html>
<html lang="en">
    <%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>

    <div class="page">
        <header>Welcome</header>
        <p>I Am Rohan</p>
        <p>A Software Engineer</p>
        <p>Let's Build Something</p>
        <br>
        <p> <3 </p>
    </div>

    <%- partial("partials/_footer") %>


</body>

</html>