<!DOCTYPE html>
<html lang="en">
    <%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>

    <div class="page">
        <header>Welcome to Rohan Panuganti's website.</header>
        <p>Here I will show off my projects and make posts.</p>
    </div>

    <%- partial("partials/_footer") %>


</body>

</html>