<!DOCTYPE html>
<html>
    <%- partial("partials/_header") %>

<body>
    <%- partial("partials/_nav") %>

    <div class="page">
        <header>Projects</header>
        <p>Projects are coming soon!</p>
    </div>

    <%- partial("partials/_footer") %>


</body>

</html>